<div
  class="flex h-full flex-wrap items-start justify-center border-t-0 bg-white border-0.5 border-neutral-200"
>
  <ul class="flex w-full flex-col gap-1 text-sm font-normal">
    <li class="mt-2 px-4 text-xs font-light text-rhino-700">BASIC</li>
    <li>
      <a class="side-list-item" routerLink="/home" routerLinkActive="active"
        ><i class="fi fi-br-home"></i>Home
      </a>
    </li>
    <li>
      <a class="side-list-item" routerLink="/players" routerLinkActive="active"
        ><i class="fi fi-br-users-alt"></i> Players</a
      >
    </li>
    <li>
      <a
        class="side-list-item"
        routerLink="/play"
        routerLinkActive="active"
        ><i class="fi fi-br-star-comment-alt"></i>Top Players</a
      >
    </li>
    <li>
      <a class="side-list-item" routerLink="/ct" routerLinkActive="active"
        ><i class="fi fi-br-search"></i>Search
      </a>
    </li>

    <li class="mt-2 px-4 text-xs font-light text-rhino-700">USER</li>
    <li>
      <a class="side-list-item" routerLink="/profile" routerLinkActive="active"
        ><i class="fi fi-br-user"></i>Profile
      </a>
    </li>
    <li>
      <a class="side-list-item" routerLink="/favorite" routerLinkActive="active"
        ><i class="fi fi-br-star"></i>Favorites
      </a>
    </li>
    <li>
      <a class="side-list-item" routerLink="/ratings" routerLinkActive="active"
        ><i class="fi fi-br-star-sharp-half-stroke"></i> Ratings</a
      >
    </li>
    <li>
      <a class="side-list-item" routerLink="/history" routerLinkActive="active"
        ><i class="fi fi-br-time-past"></i> History</a
      >
    </li>

    <li class="mt-2 px-4 text-xs font-light text-rhino-700">RATINGS & STATS</li>
    <li>
      <a class="side-list-item" routerLink="/ranking" routerLinkActive="active"
        ><i class="fi fi-br-trophy-star"></i>Rankings</a
      >
    </li>
    <li>
      <a class="side-list-item" routerLink="/settings" routerLinkActive="active"
        ><i class="fi fi-br-settings-sliders"></i>Settings
      </a>
    </li>

    <li class="mt-2 px-4 text-xs font-light text-rhino-700">
      SETTING & EXTRAS
    </li>
    <li>
      <a class="side-list-item" routerLink="/field" routerLinkActive="active"
        ><i class="fi fi-br-football"></i>Field
      </a>
    </li>
    <li>
      <a class="side-list-item" routerLink="/photos" routerLinkActive="active"
        ><i class="fi fi-br-picture"></i>Photos
      </a>
    </li>
    <li>
      <a class="side-list-item" routerLink="/stats" routerLinkActive="active"
        ><i class="fi fi-br-stats"></i>Stats
      </a>
    </li>
  </ul>
</div>
